{% extends "base.html" %}

{% block conteudo %}
    <fieldset>
        <legend>Formulário</legend>

        <form action="/dados" method="post">
            <div>
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome">
            </div>
            
            <div>
                <label for="email">E-mail: </label>
                <input type="email" name="email" id="email">
            </div>
            
            <div>
                <label for="idade">Idade: </label>
                <input type="number" name="idade" id="idade">
            </div>
            

            <label>Disciplina: </label>
            <label for="web">Web</label>
            <input type="checkbox" name="disciplina" id="web" value="Web">
            <label for="lp2">LPII</label>
            <input type="checkbox" name="disciplina" id="lp2" value="LP2">
            <label for="ed">Estrutura de Dados</label>
            <input type="checkbox" name="disciplina" id="ed" value="Estrutura de Dados">

            <button type="submit">Login</button>
            <button type="reset">Limpar</button>
        </form>
    </fieldset>
{% endblock %}