{% extends "base.html" %}

{% block conteudo %}
    <div>
        <form action="/produto/save" method="post">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome">
            <label for="preco">Preço: </label>
            <input type="number" min="1" step="any" name="preco" id="preco">
            <label for="quantidade_estoque">Estoque: </label>
            <input type="number" name="quantidade_estoque" id="quantidade_estoque">
            <button type="submit">Salvar</button>
        </form>
        {% set mensagens = get_flashed_messages() %}
        {% if mensagens %}
            {% for msg in mensagens %}
                {{ msg }}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}